:root{
  --message-padding: 1em;
  --message-list-style-type: none;
  --message-border-radius: 0.8em;
  --message-margin-bottom: 0.3em;
}

body {
  min-height: 100vh;
}

.sticky-footer {
  position: sticky;
  top: 100%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 10vh;
  padding-right: 10vh;
  margin-top: 5vh;
  margin-bottom: 0px;
}

.nav-item a {
  color: white;
}

.nav-item a:hover {
  color: silver;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: silver;
}

.dropdown-item{
  color: black !important;
}

.dropdown-item:hover{
    background: #0d6efd;
    color: white !important;
}

.my_nal_links {
  display: inline-flex;
  align-items: end;
}

.my_nal_links a {
  margin-right: 2vh;
}

.my_nal_links a:hover {
  color: silver;
}

.success {
  padding: var(--message-padding);
  list-style-type: var(--message-list-style-type);
  border-radius: var(--message-border-radius);
  margin-bottom: var(--message-margin-bottom);
  background-color: #98FB98;
  border: solid #32CD32;
}

.info {
  padding: var(--message-padding);
  list-style-type: var(--message-list-style-type);
  border-radius: var(--message-border-radius);
  margin-bottom: var(--message-margin-bottom);
  background-color: #00BFFF;
  border: solid #1E90FF;
}

.warning {
  padding: var(--message-padding);
  list-style-type: var(--message-list-style-type);
  border-radius: var(--message-border-radius);
  margin-bottom: var(--message-margin-bottom);
  background-color: #F0E68C;
  border: solid #FFD700;
}

.error {
  padding: var(--message-padding);
  list-style-type: var(--message-list-style-type);
  border-radius: var(--message-border-radius);
  margin-bottom: var(--message-margin-bottom);
  background-color: #CD5C5C;
  border: solid #FF0000;
}

.message-box {
  padding-left: 0;
}

@media (max-width: 530px) {
  .mobile-btn-center{
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
  }

  .mobile-text-center{
    margin-left: auto;
    margin-right: auto; 
  }

  .mobile-width-90{
    width: 90% !important;
  }

  .mobile-mt-0{
    margin-top: 0rem !important;
  }
}