{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Этот тег отвечает за масштабирование контента в зависимости от девайса  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS core -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'custom.css' %}">

    <!-- Custom JS -->
    {% block custom_js %} {% endblock %}

    <title>{{title}}</title>

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-sm bg-primary" data-bs-theme="dark">
    <div class="container" style="padding-top: 1vh; padding-bottom: 1vh;">
        <a class="navbar-brand" href="{% url 'index' %}">FitJournal</a>
        <div class="nav-item dropdown text-white">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Калькуляторы
            </a>
            <ul class="dropdown-menu shadow p-3 mb-5 bg-white ">
                <li><a class="dropdown-item" href="{% url 'tools:calculator_1rm' %}">Одноповторный
                    максимум</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Content -->
<div class="container mt-4">
    {% block content %} {% endblock %}
</div>

<!-- Footer -->
<footer class="sticky-footer bg-primary">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2 text-muted">О нас</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Политика конфиденциальности</a></li>
    </ul>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>