{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Этот тег отвечает за масштабирование контента в зависимости от девайса  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS core -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'custom.css' %}" rel="stylesheet">

    <!-- Custom JS -->
    {% block custom_js %} {% endblock %}

    <title>{{title}}</title>

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-sm bg-primary" data-bs-theme="dark">
    <div class="container" style="padding-top: 1vh; padding-bottom: 1vh; color: white;">
        <a class="navbar-brand" href="{% url 'index' %}">JournalFitRu</a>
        <div class="my_nal_links">
            <a class="nav-link" href="{% url 'articles:articles-list' %}">Статьи</a>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Калькуляторы
                </a>
                <ul class="dropdown-menu shadow p-3 mb-5 bg-white">
                    <li><a class="dropdown-item" href="{% url 'tools:calculator_1rm' %}">Одноповторный
                        максимум</a></li>
                </ul>
            </div>
            {% if request.user.is_authenticated %}
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    {{ request.user.username }}
                </a>
                <ul class="dropdown-menu shadow p-3 mb-5 bg-white">
                    <li><a class="dropdown-item" href="{% url 'profile' request.user.username %}">Профиль</a></li>
                    <li><a class="dropdown-item" href="{% url 'profile_settings' %}">Настройки</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Выход</a></li>
                </ul>
            </div>
            {% else %}
            <a class="nav-link" href="{% url 'login' %}">Вход</a>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Content -->
<div class="container mt-4" style="overflow: hidden;">
    {% block content %} {% endblock %}
</div>

<!-- Footer -->
<footer class="sticky-footer bg-primary">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2">О нас</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Политика конфиденциальности</a></li>
    </ul>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>