{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="card shadow-lg border-0 rounded-lg bg-primary bg-gradient mobile-width-90 mobile-mt-0" style="width:50%; margin-top: 3rem;">
        <div class="card-header">
            <h3 class="text-center font-weight-light my-5">Авторизация</h3>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group my-4">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                <div> {{ field.errors }} </div>
                {% endfor %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <div style="display: flex; justify-content: center; align-items: center;">
                  <button type="submit" class="btn btn-primary my-4" style="background:#fff; color:black">Авторизация</button>
                </div>
                <p style="display: flex; justify-content: center; align-items: center; line-height: 1; color: white;">Нет аккаунта?
                      <a href="{% url 'register' %}" style="color: silver; margin: 10px" >Зарегистрироваться!</a>
                  </p>
                <a href="{% url 'users:password_reset' %}" style="display: flex; justify-content: center; align-items: center; line-height: 1; color: silver; margin-bottom: 2vh;">Забыли пароль?</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

