{% extends "base.html" %}

{% block content %}
<h1>Настройки {{ user }}</h1>
<hr/>
<div style="display: flex;">
    <div style="padding-right: 5vw;">
        <p>Пароль:</p>
    </div>
    <div>
        <a href="{% url 'users:password_change' %}">Сменить</a>
    </div>
</div>
<h2>Физические данные</h2>
<hr/>
<div>
    <form action="#" method="post">
        {% csrf_token %}
        <div style="display: flex;">
            <div style="padding-right: 5vw;">
                {% for field in profile_form %}
                <p>{{ field.label }}:</p>
                {% endfor %}
            </div>
            <div>
                {% for field in profile_form %}
                <p>{{ field }}</p>
                {% endfor %}
            </div>
        </div>

        <!-- Элементы не относящиеся к форме -->
        <div style="display: flex;">
           <p style="padding-right: 1.9vw;">Текущий вес:</p>
           <p> {{user_weight}} кг. <a href="#">Журнал веса</a> </p>
        </div>
        <button type="submit" class="btn btn-primary my-4">Сохранить</button>
    </form>
</div>
{% endblock %}